:root{
    --color1:#C61F1F;
    --color2:#d82222;
    --color3:#fff;
    --color4:#e8e8e8;
    --color5:#495057;
}

body{
    font-family: 'Manrope', sans-serif;
}
/**************topbar starts****************/
.logo{
    position:relative;
    width:150px;
    height: auto;
    object-fit: cover;
    z-index:11000;
}

.first-navbar .bi-search{
font-weight: normal;
line-height: 1.8;
font-size: 18px;
color:var(--color3);
cursor:pointer;
text-align: center;
padding:0 15px;
}
.header-divider-sm{
    top:20%;
    height: 60%;
}
.topbar .header-divider{
    width:1px;
    display: inline-block;
    position: absolute;
    
}
.topbar .bg-light-opacity-2{
    background-color: rgba(255, 255, 255, 0.2) !important; 
}
div.topbar{
    position:sticky;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.338);
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 40px;
    top:0;
    left:0;
    right:0;
    width:100%;
    background-color: transparent;
    color: #000;
    z-index: 10001;
    transition: top 0.3s ease-in-out;
}
.topbar.scroll{
   transform: translateY(100%);
   -webkit-transform: translateY(100%);
   -moz-transform: translateY(100%);
   -ms-transform: translateY(100%);
   -o-transform: translateY(100%);
}
.topbar span, .topbar i {
    color: #fff;
    z-index: 13000;
}
.social-links a{
    margin-right:10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.social-links a i{
    font-size: 1.2rem;
    color:white!important;
}

/***************topbar ends*****************/
/***************navbar starts******************/
.btn-market i{
    margin-right: 0.5rem;
    cursor:pointer;
    font-size: 0.875rem;   
   }
.btn-market{
    background-color: var(--color2);
    border-color: var(--color2);
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition:all 0.1s ease-in-out;
    -webkit-transition:all 0.1s ease-in-out;
    -moz-transition:all 0.1s ease-in-out;
    -ms-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;
    color:var(--color3);
    cursor:pointer;
    font-weight: 700;
    padding:0.5625rem 1.125rem;
    margin:3px 4px!important;
    vertical-align: middle;
    line-height: 1.8rem;
    text-decoration: none;
}
@media screen and (max-width:1110px){
   .btn-market{
    display: none!important;
   } 
}

.first-navbar .navbar-nav .nav-link{
    position: relative;
    margin:0 10px!important;
    padding:0 3px!important;
    color:var(--color3);
    font-size: 14px !important;
    font-weight: 700!important;
    cursor:pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/**********yeni ekledim***********/
.first-navbar ul,.first-navbar li,.first-navbar a{
    position: relative!important;
}

/************************/
.first-navbar ul .dropdown-menu{
   line-height: 40px;
   width:220px;
}
.first-navbar ul .dropdown-menu .dropdown-item{
    font-weight: bold;
}
.first-navbar .dropdown-menu .dropdown-item{
    color:rgb(65, 64, 64);
    font-size: 14px;
}
nav.navbar,.first-navbar{
    position: fixed;
    top:0px;
    left: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 100px; 
    z-index:10000;
}
@media screen and (max-width:992px) {
    nav.navbar,.second-navbar{
        padding:15px 100px;
        z-index:10001;  
    }
}
@media screen and (max-width:512px) {
    .second-navbar{
        padding:10px 60px;
        z-index:10001;  
    }
}
@media screen and (max-width:417px) {
    nav.navbar,.second-navbar{
        padding:8px 50px;
        z-index:10001;  
    }
}
.first-navbar.sticky{
  padding:5px 100px;
  background: #fff ;  
}
.first-navbar.sticky ul li a{
    color: #3e4246 !important;
}
.first-navbar.sticky ul li a .bi-search{
    color: #3e4246 !important;
}
.first-navbar {
    display: block;
  }
  .second-navbar {
    display: none!important;
  }
.second-navbar .navbar-brand img .logo{
    width:auto!important;
    height:35px!important;
    padding:0;
    margin:0;
}
.second-navbar .navbar-toggler{
    border:none!important;
}
.second-navbar .navbar-toggler-icon{
    font-weight: 900!important;
    color:black;
}
.second-navbar{
    background-color: white!important;
    position: absolute;
    z-index: 15000;
}
@media screen and (max-width: 991px) {
    .first-navbar {
      display: none!important;
    }
    .second-navbar {
      display: block!important;
    }
    .container-fluid .topbar{
        display: none;
    }
    /* .second-navbar .navbar-brand img .logo{
        height:20px!important;
        width: auto!important;
    } */
  }

/****************navbar ends***************/
/*************homepage starts***************/
.overlay-containerr{
    width: 100%;
    height:100vh;
    background:url("/img/hyt.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgb(37 37 125 / 82%);
 }

.home{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    text-align: center;
}

.home .kesfet{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding:1px 5px;
    background-color: #d82222 !important;
    color:#ffff;
    color: #fff !important;
    font-weight: 700 !important;
}
.home span{
   font-size:22.5px;
   color: #000838;
   font-weight: 700 !important;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
}
.home h1.text-light{
    font-size: 48px;
    font-weight: 700;
    color: #fff !important;;
}
@media screen and (max-width:992px) {
    .home .container span{
        font-size: 20px!important;
    }
    .home .container h1{
        font-size: 30px!important; 
    }
    .home .kesfet{
        font-size: 20px;
    }
}
/*****Services******/
.services{
   background-color: var(--color4)!important;
   padding:5%;
}
.cards-group .card{
    cursor:pointer;
    min-height: 150px;
    width: auto;
    transition:transform 0.3s ease;
    -webkit-transition:transform 0.3s ease;
    -moz-transition:transform 0.3s ease;
    -ms-transition:transform 0.3s ease;
    -o-transition:transform 0.3s ease;  
}
.cards-group .card:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.cards-group .card-body h3{
    font-weight: 700;
    color:#000838;
}
@media screen and (max-width:1200px){
    .cards-group .card-body h3{
        font-size: 1rem;
    }
    
}
.card{
    border: 0px solid rgba(0, 0, 0, 0.125);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index:0;
}
.card img{
    object-fit: cover;
    width: 100%;
    z-index: -2;
    opacity: 0.2; 
}
.cards-group .card{
    position: relative;
    z-index:98;
}
.cards-group .card .card-body{
   position: absolute;
   background-blend-mode: multiply; 
}
.cards-group .card .card-body h3{
    color: rgb(50, 56, 113);
    font-weight: 900; 
}
.cards-group .card .card-body p{
    font-size: 18px;
    font-weight: 700;
}
/************/
/*******section one-more-promotion********/
#spin {
    color:red;
  }
  #spin:after {
    content:"";
    animation: spin 7s linear infinite;
    -webkit-animation: spin 7s linear infinite;
}
  @keyframes spin {
    0% { content:"Ailendir"; color:rgb(255, 98, 0);}
    10% { content:"İşindir"; color:red;}
    20% { content:"Geleceğindir"; color:blue;}
    30% { content:"Kahkahalarındır";color:slateblue}
    40% { content:"Mutluluğundur";color:palevioletred}
    50% { content: "Prestijindir";color:rgba(67, 188, 67, 0.657);}
    60% { content: "Hayallerindir";color:red;}
    70% { content: "Dünyandır";color:rgb(143, 211, 54);}
    80% { content: "Kariyerindir";color:rgb(182, 29, 105);}
    90% { content: "Evindir";color:blueviolet}
  }
  .slider-text{
    background-color: white;
  }
  .slider-text p{
    font-size: 36px;
    color:lightgray;
    font-weight: 700;
    margin-top:30px;
    margin-bottom:30px;
  }
  .user-exp{
    background-color: #e8e8e8;
    margin:0 15px;
    padding:32px 62px 32px;
  }
  .user-exp i[class^="fa-"]{
    color:var(--color2);
  }
  .user-exp .flex-column span{
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--color5)!important;
  }
  @media screen and (max-width:992px) {
    .user-exp .flex-column span{
        font-size: 1rem; 
    }
  }
  @media screen and (max-width:768px) {
    .user-exp .flex-column span{
        font-size: 0.8rem; 
    }
  }
  @media screen and (max-width:576px) {
    .user-exp .flex-column span{
        font-size: 0.5rem; 
    }
  }
/*************global brand starts*******************/
.global-brand h4{
    font-weight: 700!important;
}
.global-brand h2{
    color:var(--color5)!important;
    font-weight: 700!important;
}
@media screen and (max-width:992px) {
    .global-brand .d-block{
        margin-bottom: 10px;
    }
}
/************global brand ends********************/
/***************products************************/
section .products{
    background-color: #F6F6F6;
}
.carousel-inner .card img{
    opacity: 1!important;
}
section .products .card img{
    opacity: 1;
}
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 25%;
      display: block;
    }
  }
  .carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
/***********************************/

/*************homepage ends***************/
/******touchyourlife starts********/

/******touchyourlife ends********/

/*******Footer************/
footer{
    background-color:rgb(8,35,101);
    color:rgba(255, 255, 255, 0.5) !important;
}
.footer-icons i{
font-size: 32px!important;
color:rgba(255, 255, 255, 0.5) !important;
}
.footer-icons a{
   margin-right: 15px; 
}
.footer-section img{
    width:auto;
    max-height: 65px;
}
footer .social-media .row{
    padding-left: 18px;
    padding-right: 18px;
}
footer ul li{
    list-style-type: none;
}
footer ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5) !important;
    font-size: 1rem;
}
footer ul li:nth-child(1){
    color:white;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 18px;
}
.footer-section .row p{
    font-size: 18px;
}
.footer-section .contact-icons i{
    color:white;
}
.contact-icons .last-el{
    background-color: red!important;
    text-align: center;
    margin-top: 25px;
    padding:10px;
    
}
.contact-icons .last-el a{
    color: white, !important;
    font-weight: 800;
    margin-left:5px;
}


